---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
}
.clearfix:after{
	clear: both; 
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "1-tools/_-tools-index",
        "2-base/_-base-index",
        "3-modules/_-modules-index",
        "3-modules/_-modules-leaders-index",
        "3-modules/_-modules-events-index",
        "3-modules/_-modules-photos-index",
        "3-modules/_-modules-videos-index",
        "3-modules/_-modules-register",
        "3-modules/_-modules-blog-index",
        "3-modules/_-modules-live-index"
;
